@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }
  
  
  /* custom scroll bar */
  ::-webkit-scrollbar {
      width: 10px;
  }
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
      background: #888;
  }
  ::selection{
    background: #ffffff;
  }
  .content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
  }
  .navbar.sticky{
    background: #ffffff;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(43, 0, 255, 0.1);
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo img{
    height: 0%;
    width: 10%;
  }
  .navbar .menu-list{
    display: inline-flex;
  }
  .menu-list li{
    list-style: none;
  }
  .menu-list li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menu-list li a:hover{
    color: #ebe72f;
  }
  .banner{
    background: url("banner.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .about{
    padding: 30px 0;
  }
  .about .title{
    font-size: 38px;
    font-weight: 700;
  }
  .about p{
    padding-top: 20px;
    text-align: justify;
  }
  .icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }
  @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
  }
  @media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
  }
  @media (max-width: 380px) {
    .navbar .logo a{
      font-size: 27px;
    }
  }

  /*body section*/
  .banner1, .banner2, .banner3, .banner4{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .banner1 img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-in 3s linear infinite;
  }
  
  .banner2 img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-in 3s linear infinite;
  }
  
  .banner3 img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-in 3s linear infinite;
  }
  
  
  .banner4 img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-in 3s linear infinite;
  }
  
  @keyframes zoom-in {
    100%{
      width: 140%;
    }
  }
  
  .text-box {
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: #ffffff;
  }
  
  .text-box h1 {
    margin-top: 20%;
    font-size: 400%;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-shadow: -1px 1px 2px #000,
                    1px 1px 2px #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
  }
  
  span {
    color: blue;
  }
  
  .button1 {
    display: inline-flex;
    background-color: none;
    color: #ffffff;
    border: 2px solid blue;
    padding: 8px 60px;
    width: 35%;
    margin-top: 5%;
    margin-left: 1%;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.5s;
    
  }
  
  .button1:hover {
    background-color: yellow;
    color: black;
  }
  
  .banner1 {
    animation: slide1 12s linear infinite;
  }
  
  .banner2 {
    animation: slide2 12s linear infinite;
  }
  
  .banner3 {
    animation: slide3 12s linear infinite;
  }
  
  .banner4 {
    animation: slide4 12s linear infinite;
  }
  
  @keyframes slide1 {
    0% {
      visibility: visible;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
  
    75% {
      visibility: hidden;
    }
  
    100% {
      visibility: visible;
    }
  }
  
  @keyframes slide2 {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: visible;
    }
  
    75% {
      visibility: hidden;
    }
  
    100% {
      visibility: hidden;
    }
  }
  
  @keyframes slide3 {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
  
    75% {
      visibility: visible;
    }
  
    100% {
      visibility: hidden;
    }
  }
  
  @keyframes slide4 {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
  
    75% {
      visibility: hidden;
    }
  
    100% {
      visibility: visible;
    }
  }
  
  /*bod*/

  .section{
	width: 100%;
	min-height: 150vh;
	background-color: #b3cde0;
}
.container{
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}

.image-right{
	float: right;
	width: 40%;
}
.image-right img{
	width: 100%;
	height: auto;
    margin-top: 50px;
}

.image-left{
	float: right;
	width: 40%;
}
.image-left img{
	width: 100%;
	height: auto;
    margin-top: 50px;
}

.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 50pxpx;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.content-section .right{
	margin-top: 90px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.content-section .left{
	margin-top: 120px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}


.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: blue;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:blue;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}
